{% extends 'layout.html' %}
{% block inicial %}
<title>CUK - Pagina Principal</title>
{% endblock %}
{% block content %}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  my-4 ml-0">
                <div class="card rounded-0">
                    <div class="card-header bg-light">
                        <h6 class="font-weight-bold mb-0">Bienvenido: {{usuario}}</h6>
                    </div>
                    <div class="card-body">
                        <div class="content w-5">
                            <section class="conw">
                                <figure class="conew">
                                    <img src="https://cdn.kiwilimon.com/recetaimagen/30884/th5-640x640-35199.jpg">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img
                                        src="https://i.pinimg.com/originals/82/1e/69/821e69ec924ddca60578184fc2e02889.jpg">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img
                                        src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2020/05/recetas-para-cenar-en-casa-faciles.jpg">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img src="https://www.conclusion.com.ar/wp-content/uploads/2017/04/thai2.jpg">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img
                                        src="https://cdn.aarp.net/content/dam/aarp/food/entertainment/2014-07/1140-bibimbap-authentic-asian-dishes-esp.web.jpg">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img
                                        src="https://sonaesierracms-v2.cdnpservers.net/wp-content/uploads/sites/38/2020/01/comida-asiatica-platos-recetas.jpg">
                                </figure>
                            </section>

                            <section class="conw">
                                <figure class="conew">
                                    <img
                                        src="https://resortturkey.ru/wp-content/uploads/2020/06/shtoznat-eda.jpg">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img
                                        src="https://yt3.ggpht.com/a/AATXAJxWD4Ti4qycBPdfcZJboSnmQ3S1op_7MXI6N_IMPQ=s900-c-k-c0x00ffffff-no-rj">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img
                                        src="https://revistadiners.com.co/wp-content/uploads/2016/03/boutiquedelsabor_800x669.jpg">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img src="https://marianaalviso.files.wordpress.com/2014/02/comidaalemania.jpg">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img
                                        src="https://animalgourmet.com/wp-content/uploads/2019/11/comida-coreana-barbecue-2-e1573442103940.jpg">
                                </figure>
                            </section>
                            <section class="conw">
                                <figure class="conew">
                                    <img
                                        src="https://imagenes.milenio.com/j_fW9w1w_9gBxcBPMR0LsUC5hiQ=/958x596/https://www.milenio.com/uploads/media/2018/06/30/mejores-restaurantes-comida-coreana-cdmx_0_70_1200_747.jpg">
                                </figure>
                            </section>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  my-4 ml-0">
                <div class="card rounded-0">
                    <div class="card-header bg-light">
                        <h6 class="font-weight-bold mb-0">Acerca De</h6>
                    </div>
                    <div class="card-body">
                        <div class="content w-5">
                            <section id="about" class="about">
                                <table class="table">
                                    <thead>
                                        <tr><th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col">&nbsp;&nbsp;Nombre</th>
                                            <th scope="col">&nbsp;&nbsp;Ciudad</th>
                                            <th scope="col">Repositorio 1</th> 
                                            <th scope="col">Repositorio 2</th> 
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr><th></th>
                                            <th></th>
                                            <th>Paco Silva</th>
                                            <th>Guatemala</th>
                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://gitlab.com/silvapaco810/proyecto2-segundosemestre-offline" target="_blank">Link 1</a></th>
                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://gitlab.com/silvapaco810/proyecto2-segundosemestre-online" target="_blank">Link 2</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr><th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col">Repositorio 3</th>
                                            <th scope="col">Repositorio 4</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>  
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr><th></th>
                                            <th></th>
                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/Paco1392000/Proyecto2-SegundoSemestre-OFFLINE" target="_blank">Link 3</a></th>
                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/Paco1392000/Proyecto2-SegundoSemestre-ONLINE" target="_blank">Link 4</a></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    
                                    
                                </table>
                            </section>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}